
/bin/
/build/


/eclipse/
gradlew.file
/.gradle/

/.settings/

/gradle/

/.project

/.classpath

/gradlew.bat
/clientAndServer/
*.iml
*.ipr
*.iws
*.iml
*.ipr
*.iws
Immersion.*
.gitignore